.afisha__card {
  border: 1px solid gray;
  position: relative;
  
 }

 .afisha__card-img-block {
  width: 100%;
  background-color: silver;
 }

 .card__title {
  font-weight: 600;
  font-size: 18px;
  margin-bottom: 15px;
 }

 .card__description p {
  margin: 0;
  padding: 0;
  
}

.afisha__card-content-block {
  padding: 10px;
 }


