.info-block {
  margin-bottom: 30px;
}

.info-block-title {
  font-weight: 600;
  margin-bottom: 20px;
}

.info-desc {
  font-size: 14px;
  margin-bottom: 10px;
}

.age-desc {
  font-size: 12px;
  margin-bottom: 10px;
}

.info-hall {
  font-size: 12px;
  margin-bottom: 10px;
}

#map {
  
  height: 300px;
}